* {
	padding: 0;
	margin: 0;
}
body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
}
h1 {
	font-size: 3.3rem;
	color: #fff;
	padding-top: 20rem;
}
h2 {
	font-size: 2rem;
	color: #504f50;
	padding-top: 6rem;
}
h3 {
	font-size: 1.4rem;
	color: #504f50;
}
h4 {
	font-size: 2rem;
	color: #504f50;
	margin: 0;
}
.main-font {
	font-size: 1.4rem;
	color: #a8a8a8;
}
.line {
	width: 100px;
	height: 2px;
	background-color: #39c9da;
	margin: 2.2rem 0 3rem 0;
}
.btn-main {
	font-size: 2rem;
	font-weight: bold;
	color: #fff;
	background-color: #39c9da;
	border-color: #39c9da; 
}
.btn-main:hover, 
.btn-main:visited {
	color: #39c9da;
	background-color: #fff;
	border-color: #39c9da;
} 
/*----------------HEADER-------------------*/
header {
	background-image: url(img/banner-header.png);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	min-height: 53.2rem;
}
.navbar {
	border: none;
	background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
	font-size: 1.5rem;
	font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #39c9da;
}
.navbar-toggle {
	background-color: #fff;
	border: none;
}
.btn-header {
	font-size: 2rem;
	font-weight: bold;
	color: #fff;
	background-color: #39c9da;
	border-color: #39c9da; 
	margin-top: 4rem;
}
/*----------------END of HEADER-------------*/

/*----------------ABOUT US------------------*/
.about-us-text {
	margin-top: 5rem;
	padding-bottom: 5rem;
}
/*----------------END of ABOUT US-----------*/

/*----------------PORTFOLIO-----------------*/
.porfolio {
	background-color: #f4f4f4;
	border: 1px solid #e8e8e8;
	font-size: 1.4rem;
}
.thumbnail-porfolio {
	padding: 0;
	border: 0;
	border-radius: 0;
	line-height: 0;
	margin-bottom: 4rem;
	margin-left: 1rem;
}
.caption-porfolio {
	height: 6rem;
	border: 1px solid #c7c4c7;
	padding: 0 1.4rem 0 1.4rem;
	background-color: #fff;
}
.caption-porfolio p {
	padding-top: 2.5rem;
	color: #504f50;
}
.portfolio-span {
	font-style: italic;
	color: #d8d6d8;
}
/*----------------END of PORTFOLIO----------*/

/*----------------SERVICES------------------*/
.services {
	background-color: #fafafa;
}
.thumbnail-services {
	height: 30rem;
	border: 1px solid #e2e2e2;
	background-color: #fff;
	margin-bottom: 6.4rem;
}

.thumbnail-services img {
	padding: 2.5rem 0 2.5rem 0;
}
.thumbnail-services p {
	font-size: 1.4rem;
	color: #504f50;
	padding: 0 2rem 0 2.8rem;
}
.example {
	background-color: #39c9da;
}
.example h4, .example p {
	color: #fff;
}
.grey-line {
	width: 7.5rem;
	height: 2px;
	background-color: #c2c2c2;
	margin-top: 1.4rem;
	margin-bottom: 3rem;
}
.btn-services {
	width: 13rem;
	background-color: #4b4a4b;
	color: #fff;
	margin: 0 0 1.8rem 0;
}
.btn-example {
	width: 13rem;
	background-color: #fff;
	color: #4b4a4b;
	margin: 0 0 1.8rem 0;
}
/*----------------END of SERVICES-----------*/

/*----------------CONTACT-------------------*/
.contact {
	background-color: #f4f4f4;
	border: 1px solid #e9e9e9;
	border-top-color: #e9e9e9;
	/*height: 64rem;*/
}
address {
	font-size: 1.4rem;
	color: #a8a8a8;
	margin-bottom: 16rem;
}
textarea {
	resize: none;
}
.form-inline {
	padding-top: 2.5rem;
} 
.form-control {
	border-radius: 0;
}
.contact-inline {
	width: 27rem !important;
	/*margin-bottom: 3rem;*/
}
.form-control {
	margin-bottom: 3rem;
}
.form-line {
	margin-left: 12px;
}
/*.form-inline:last-chlid {
	margin-left: 1.5rem;
}*/
/*----------------END of CONTACT------------*/

/*----------------FOOTER--------------------*/
footer {
	height: 48px;
	background-color: #39c9da;
	font-size: 1.4rem;
	line-height: 48px;
	color: #fff;
}